# Hlavní závislosti
Flask==3.0.0
openpyxl==3.1.2
pandas==2.2.3
Werkzeug==3.0.1
gunicorn==21.2.0
click==8.1.7
blinker==1.9.0
itsdangerous==2.2.0
Jinja2==3.1.3
MarkupSafe==2.1.5
numpy==1.26.4
python-dateutil==2.8.2
pytz==2024.1
six==1.16.0
tzdata==2024.1
pathlib==1.0.1
typing-extensions>=4.12.3
pytest

# Retry a cache mechanismy
tenacity==8.2.3
requests-cache==1.1.1

# Vývojářské nástroje
pylint==3.0.3
flake8==7.0.0
black==24.2.0
isort==5.13.2