{% extends "base.html" %}

{% block title %}Nastavení{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block content %}
    <h1 id="settings-heading">Nastavení</h1>
    <form method="POST" action="{{ url_for('settings_page') }}" aria-labelledby="settings-heading">
        <fieldset>
            <legend>Data Projektu</legend>
            <div class="form-group">
                <label for="project_name">Název projektu:</label>
                <input type="text" name="project_name" id="project_name" 
                       value="{{ settings.project_info.name if settings.project_info.name else '' }}" 
                       class="form-control" required aria-required="true" 
                       title="Zadejte název projektu">
            </div>
            <div class="form-group">
                <label for="start_date">Začátek projektu:</label>
                <input type="date" name="start_date" id="start_date" 
                       value="{{ settings.project_info.start_date if settings.project_info.start_date else '' }}" 
                       class="form-control" required aria-required="true" 
                       title="Vyberte datum začátku projektu">
            </div>
            <div class="form-group">
                <label for="end_date">Konec projektu:</label>
                <input type="date" name="end_date" id="end_date" 
                       value="{{ settings.project_info.end_date if settings.project_info.end_date else '' }}" 
                       class="form-control" required aria-required="true" 
                       title="Vyberte datum konce projektu">
            </div>
        </fieldset>

        <fieldset>
            <legend>Přednastavené časy</legend>
            <div class="form-group">
                <label for="start_time">Čas začátku:</label>
                <input type="text" id="start_time" name="start_time" class="timepicker" 
                       value="{{ settings.start_time }}" required aria-required="true">
            </div>

            <div class="form-group">
                <label for="end_time">Čas konce:</label>
                <input type="text" id="end_time" name="end_time" class="timepicker" 
                       value="{{ settings.end_time }}" required aria-required="true">
            </div>

            <div class="form-group">
                <label for="lunch_duration">Délka oběda (v hodinách):</label>
                <input type="number" id="lunch_duration" name="lunch_duration" step="0.25" min="0" max="4" 
                       value="{{ settings.lunch_duration }}" required aria-required="true">
            </div>
        </fieldset>

        <fieldset>
            <legend>Číslo akce</legend>
            <div class="form-group">
                <label for="cislo_akce">Číslo akce:</label>
                <input type="number" name="cislo_akce" id="cislo_akce" 
                       value="{{ settings.get('cislo_akce', '') }}" class="form-control" 
                       required aria-required="true" title="Zadejte číslo akce">
            </div>
        </fieldset>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Uložit nastavení</button>
        </div>
    </form>
{% endblock %}

{% block footer_title %}Nastavení{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        // Inicializace ciferníku pro čas a datum
        flatpickr(".timepicker", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
        });

        flatpickr(".date-picker", {
            dateFormat: "Y-m-d",
        });
    </script>
{% endblock %}